In [52]:
import sqlite3

In [53]:
! mkdir -p databases

Џ®¤Ї ЇЄ  Ё«Ё д ©« -p г¦Ґ бгйҐбвўгҐв.
ЋиЁЎЄ  ў® ўаҐ¬п ®Ўа Ў®вЄЁ: -p.
Џ®¤Ї ЇЄ  Ё«Ё д ©« databases г¦Ґ бгйҐбвўгҐв.
ЋиЁЎЄ  ў® ўаҐ¬п ®Ўа Ў®вЄЁ: databases.

In [54]:
DB_PATH = "databases/test8.db"

In [55]:
connection = sqlite3.connect(DB_PATH)

In [56]:
cursor = connection.cursor()

cursor.execute('''
    CREATE TABLE Books(
        id REAL,
        author TEXT,
        title TEXT,
        publish_year REAL
    );
''')

cursor.execute('''
    CREATE TABLE Readers(
        id REAL,
        name TEXT
    );
''')

cursor.execute('''
    CREATE TABLE Records(
        reader_id REAL,
        book_id REAL,
        taking_date TEXT,
        returning_date TEXT
    );
''')

In [57]:

cursor.execute('''
    INSERT INTO Books VALUES
        (1, 'Аркадий Неминов', 'Приключения котёнка Пуха', 2001),
        (2, 'Анна Кирова', 'Приключения кота - оптимиста Марсика', 2002),
        (3, 'Павел Линицкий', 'Такса Клякса и волшебная флейта', 2008),
        (4, 'Irka Writer', 'Васька и мышка', 2015);
''')

cursor.execute('''
    INSERT INTO Readers VALUES
        (12, 'Андрей'),
        (22, 'Михаил'),
        (32, 'Виталий'),
        (42, 'Татьяна');
''')

cursor.execute('''
    INSERT INTO Records VALUES
        (12, 1, '11.12.13', '13.14.14'),
        (22, 2, '14.03.15', '27.05.15'),
        (32, 3, '30.01.16', '30.01.17'),
        (42, 4, '13.11.17', '13.11.19');
''')




connection.commit()
connection.close()

In [58]:
class Library():
    """docstring"""
 
    def __init__(self, Books, Readers, Records):
        """Constructor"""
        self.Books = Books
        self.Readers = Readers
        self.Records = Records
    
    def add_reader(self, person): #Добавить читателя.
        
        connection = sqlite3.connect(DB_PATH)
        cursor = connection.cursor()

        connection.executemany(
            "INSERT INTO Readers VALUES (?, ?)",
            person
        )

        connection.commit()
        return 
    def add_book(self, book): #Добавить книгу.
        
        # example_book = [(10, 'Harry Potter and the Philosopher''s Stone', 'J. K. Rowling', 1997)]
        connection = sqlite3.connect(DB_PATH)
        cursor = connection.cursor()

        connection.executemany(
            "INSERT INTO Books VALUES (?, ?, ?, ?)",
            book
        )
        connection.commit()
        return 
    
    def view_readers(self): #Вывести список читателей.
        
        connection = sqlite3.connect(DB_PATH)
        cursor = connection.cursor()

        for name in cursor.execute("SELECT name FROM Readers;"):
            print(name)
        connection.commit()
        
    def view_books(self): #Вывести список книг.
        
        connection = sqlite3.connect(DB_PATH)
        cursor = connection.cursor()

        for title in cursor.execute("SELECT title FROM Books;"):
            print(title)
        connection.commit()
        
    def add_record(self, record): #Выдать книгу читателю.
        # example_record = [(1,12, '27.03.2022', '27.05.2022')]
        connection = sqlite3.connect(DB_PATH)
        cursor = connection.cursor()

        connection.executemany(
            "INSERT INTO Records VALUES (?, ?, ?, ?)",
            record
        )
        connection.commit()
        
    def delete_record(self, idx): #Принять книгу.
        
        connection = sqlite3.connect(DB_PATH)
        cursor = connection.cursor()
        #idx = [(2)]
        cursor.execute(
            "DELETE FROM Records WHERE book_id = (?);",
            idx
            )

        connection.commit()

In [59]:
Library.add_reader(self = Library, person =[(21,'Dude')])

In [60]:
Library.view_readers(self = Library)

('Андрей',)
('Михаил',)
('Виталий',)
('Татьяна',)
('Dude',)

In [61]:
Library.add_book(self = Library, book = [(10, 'Harry Potter and the Philosopher''s Stone', 'J. K. Rowling', 1997)])

In [62]:
Library.view_books(self = Library)

('Приключения котёнка Пуха',)
('Приключения кота - оптимиста Марсика',)
('Такса Клякса и волшебная флейта',)
('Васька и мышка',)
('J. K. Rowling',)

In [63]:
Library.add_record(self = Library, record = [(1,12, '27.03.2022', '27.05.2022')])

In [64]:
connection = sqlite3.connect(DB_PATH)
cursor = connection.cursor()
for row in cursor.execute("SELECT * FROM Records;"):
    print(row)

connection.commit()

(12.0, 1.0, '11.12.13', '13.14.14')
(22.0, 2.0, '14.03.15', '27.05.15')
(32.0, 3.0, '30.01.16', '30.01.17')
(42.0, 4.0, '13.11.17', '13.11.19')
(1.0, 12.0, '27.03.2022', '27.05.2022')

In [65]:
Library.delete_record(self = Library, idx = [(2)])

In [66]:
connection = sqlite3.connect(DB_PATH)
cursor = connection.cursor()
for row in cursor.execute("SELECT * FROM Records;"):
    print(row)

connection.commit()

(12.0, 1.0, '11.12.13', '13.14.14')
(32.0, 3.0, '30.01.16', '30.01.17')
(42.0, 4.0, '13.11.17', '13.11.19')
(1.0, 12.0, '27.03.2022', '27.05.2022')